### 필요한 데이터 제작!

###### 1. 상품별 고객들 선호도 데이터
###### 2. Kaggle 데이터 정제화

In [ ]:
import pandas as pd
import numpy as np
from random import seed
import random

data = pd.read_table("./상품원본_2.txt", header = None)
market_campaign = pd.read_csv("./marketing_campaign.csv", encoding = 'utf-8', sep='\t')
product = data.iloc[:,0]

In [46]:
columns = []
source = []
for i in product:
    remove_strip = i.strip()
    if remove_strip.startswith('\"'):
        source_split= remove_strip.split(':')
        remove_left_strip = source_split[0].strip()
        if len(source_split) == 3:
            remove_right_strip = source_split[1].strip() + ':' + source_split[2].strip()
        else:
            remove_right_strip = source_split[1].strip()
        columns.append(remove_left_strip)
        source.append(remove_right_strip)
        
new_columns = list(set(columns))
for i in range(len(new_columns)):
    new_columns[i] = new_columns[i].strip('\"''\''',')
for i in range(len(source)):
    source[i] = source[i].strip('\"''\''',')
    
data_list = np.array(source).reshape(-1,4)
new_user_product_csv = pd.DataFrame(data = data_list, columns = new_columns)
new_user_product_csv.columns=['id', 'product_name', 'product_price', 'product_imgeurl']
# new_user_product_csv.to_csv('상품 데이터.csv', encoding = 'ANSI')

In [47]:
click_df = pd.DataFrame(data = 0 , columns = new_user_product_csv['id'], index = market_campaign['ID'].sort_values())

seed(1)
for i in range(len(click_df)):
    for j in range(len(click_df.columns)):
        import random
        value = random.choices([0,1,2,3,4,5,6,7,8,9,10], [30,10,10,10,10,10,10,10,10,10,10])
        click_df.iloc[i,j] = value[0]

click_df.to_csv('click.csv', encoding ='utf-8')

In [31]:
click_df.to_csv('click_경덕.csv', encoding ='ANSI')

데이터 변환

In [26]:
user_info = pd.read_csv('./marketing_campaign.csv', sep='\t')
user_info = user_info.drop(columns = ['Marital_Status','Income','Kidhome','Teenhome','MntGoldProds',
                                      'NumCatalogPurchases','NumStorePurchases','Z_CostContact', 
                                      'Z_Revenue','Education'], axis = 1)
user_info['Dt_Customer'] = pd.to_datetime(user_info['Dt_Customer'])
user_info['enrol_day'] = user_info['Dt_Customer'].dt.day
user_info['enrol_month'] = user_info['Dt_Customer'].dt.month
user_info['enrol_year'] = user_info['Dt_Customer'].dt.year
data = []
for i in range(2240):
    value = randint(2015,2022)
    data.append(value)
    
data2 = []
for i in range(2240):
    value2 = randint(0,1)
    data2.append(value2)
    
data3 = []
for i in range(2240):
    value3 = randint(1,30)
    data3.append(value3)
user_info['enrol_year'] = data
user_info['kurly_pass'] = data2
user_info['enrol_day'] = data3
abcdefg = user_info[user_info['enrol_year']==2022]['enrol_month'].index
for i in range(len(abcdefg)):
    if abcdefg[i] >=8:
         user_info.loc[abcdefg[i],'enrol_month'] = randint(1,7)

In [27]:
abcde = user_info[user_info['enrol_month']==2]['enrol_day'].index
for i in range(len(abcde)):
    if abcde[i] >= 29:
        user_info.loc[abcde[i],'enrol_day'] = randint(1,28)
user_info['sign_up'] = user_info['enrol_year'].apply(str) +'-' + user_info['enrol_month'].apply(str) + '-' + user_info['enrol_day'].apply(str)
user_info['sign_up'] = pd.to_datetime(user_info['sign_up'], format="%Y/%m/%d")
user_info.drop(columns=['enrol_month','enrol_year','enrol_day','Dt_Customer'], axis = 1, inplace =True)
user_info.to_csv('user_info_v2.csv')
user_info

,ID,Year_Birth,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,NumDealsPurchases,NumWebPurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,kurly_pass,sign_up
0,5524,1957,58,635,88,546,172,88,3,8,7,0,0,0,0,0,0,1,1,2022-04-20
1,2174,1954,38,11,1,6,2,1,2,1,5,0,0,0,0,0,0,0,1,2021-08-12
2,4141,1965,26,426,49,127,111,21,1,8,4,0,0,0,0,0,0,0,0,2019-08-08
3,6182,1984,26,11,4,20,10,3,2,2,6,0,0,0,0,0,0,0,0,2020-10-16
4,5324,1981,94,173,43,118,46,27,5,5,5,0,0,0,0,0,0,0,1,2017-01-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,46,709,43,182,42,118,2,9,5,0,0,0,0,0,0,0,1,2016-06-22
2236,4001,1946,56,406,0,30,0,0,7,8,7,0,0,0,1,0,0,0,1,2017-10-27
2237,7270,1981,91,908,48,217,32,12,1,2,6,0,1,0,0,0,0,0,0,2019-01-23
2238,8235,1956,8,428,30,214,80,30,2,6,3,0,0,0,0,0,0,0,0,2022-05-15
2239,9405,1954,40,84,3,61,2,1,3,3,7,0,0,0,0,0,0,1,0,2017-10-24